@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
body {
  font-family: 'Droid Arabic Naskh', serif !important;
  font-weight: bold !important;
}

.hoverButoon:hover{
  border-bottom: 4px black solid !important;
}

.invoic_table {
  font-family: 'Noto Sans Hebrew', sans-serif;
  border-collapse: collapse;
  width: 235px;
  height: auto;
}

.invoic_table1 {
  font-family: 'Noto Sans Hebrew', sans-serif;
  border-collapse: collapse;
  width: 235px;
}

.invoic_table1 td, th {
  border: 1px solid #a1a1aa;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}

.invoic_table_Prop1 {
  font-family: 'Noto Sans Hebrew', sans-serif;
  border-collapse: collapse;
  text-align: center;
}

.up_pargraf{
  position: relative;
  bottom: 40%;
}

.invoic_table_Prop1 td,th {
  border: 1px solid #a1a1aa;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  width: 100px;
}

.invoic_table td, th {
  border: 1px solid #a1a1aa;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  
}

.invoic_propr{
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: bold !important;
  font-size: 13px !important;
}

.ivoic_p{
  padding: 5px;
  padding-top: 10px;
  width: 120px;
  font-family: 'Noto Sans Hebrew', sans-serif;
  border: 1px solid #dddddd;
  font-weight: bold;
  font-size: 12px;
}

.backImage1{
  position: absolute;
  left: 0;
  right: 48%;
  top: -1%;
  width: 120px;
  z-index: 5;
}


.backImage {
  position: absolute;
  left: 0;
  right: 25%;
  top: 15%;
  bottom: 0;
  opacity: 0.2;
  width: 50%;
  border-radius: 30%;
  height: auto;
}

.hide_invioc{
  display: none;
}




.clipped {
  clip-path: inset(0 100% 0 0);
}






.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle_check:checked + .slider {
  background-color: #2196F3;
}

.toggle_check:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle_check:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.margining_table{
  margin: 50px !important;
  padding: 50px !important;
  cursor: pointer;
}
.margining_table:hover{
  background-color: #334155;
  font-weight: bolder;
  color: white;
}


.smtextin{
  font-size: 13px !important;
  font-weight: bold !important;
  font-family: 'Noto Sans Hebrew', sans-serif;
}

.smalling_text p {
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: bold;
  font-size: 9px;
}
.smalling_text_1 p {
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: bold;
  font-size: 9px;
}

.hight_for_table_list{
  height: 40rem;
}
.styling_lines_lists{
  font-size: 15px;
}


.test-fontt{
  font-family: 'Almarai', sans-serif !important;
}

.bordering_list{
  background-color: #334155;
  color: white;
  cursor: pointer;
}
.bordering_list1:hover{
  background-color: #334155;
  color: white;
  cursor: pointer;
}

.bordering_list2:hover{
  background-color: #334155;
  color: white;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #334155;
  border-top: 10px solid rgb(255, 255, 255); 
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
  
.spinner-container {
  z-index: 1;
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
}

.lins_edit_board:hover{
  color: red !important;
  cursor: pointer;
}


.highting_edit_Board{
  height: 40vh;
}

.titels_Inv{
  width: 30%;
  padding-right: 30px;
}

.smtextin_titel{
  font-family: 'Noto Sans Hebrew', sans-serif;
  font-weight: bold !important;
  font-size: 16px;
}





.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #334155;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}




.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.styling_dropdwon_invo{
  background-color: #cbd5e1;
  padding: 5px;
  margin-bottom: 10px;
  border-right: 4px solid #cbd5e1;
}

.styling_dropdwon_invo:hover{
  cursor: pointer;
  border-right: 4px solid black;
}

.styling_dropdwon_invo::after{
  cursor: pointer;
  border-right: 4px solid rgb(255, 0, 0);
}


.respon_shipping_edit_borad{
  width: fit-content;
  height: fit-content;
}


.LogIn_Page{
  top: 30vh;
}


.form_Box_Charts_Reports{
  height: 50vh;
}

.hghghg{
  width: max-content;
  height: 500px;
}

.highting_boxes_tabel_cir{
  height: 32rem;
}

.styling_Margin_From_Side_Nav{
  margin-left: 2rem;
}