.ggggg{
    size: A4 !important;
}

.ggggg {
    font-size: 7px !important;
    font-family: 'Noto Sans Hebrew', sans-serif !important;
    font-family: 'Almarai', sans-serif !important;
}
.ggggg .print-preview {
    font-size: 8px !important;
}