@page{
    size: A5;
}

@media print {
    body, html {
        font-size: 7px !important;
        font-family: 'Noto Sans Hebrew', sans-serif;
        font-family: 'Almarai', sans-serif !important;
    }
    .print-preview {
        font-size: 8px !important;
    }
}